In [1]:
print(1)

1

In [2]:
print("Hello, world!")

Hello, world!

In [4]:
3
2
1

1

In [5]:
34*3455

117470

In [6]:
23*(12-90)

-1794

In [7]:
45/89.45

0.5030743432084963

In [10]:
x = 5

In [11]:
x*(x+10)

75

In [12]:
2**3

8

In [15]:
s = "world"

In [16]:
s

'world'

In [17]:
"abc" + "dce"

'abcdce'

In [18]:
s+s

'worldworld'

In [19]:
s + "abc"

'worldabc'

In [24]:
s+str(x)

'world5'

In [21]:
"b n v"

'b n v'

In [22]:
'b n v'

'b n v'

In [23]:
"abc" * 10

'abcabcabcabcabcabcabcabcabcabc'

In [27]:
"Hello, " + "world"

'Hello, world'

In [ ]:
name1 = "Irina"
name2 = "Dmitry"

In [28]:
names = ["Irina", "Dmitry", "Arina"]

In [29]:
numbers = [1, 2, 8 ,15]

In [30]:
some_list = [1, "hjkd", 7, "hsdjkds"]

In [31]:
complex_list = [1, [4, 5], "str"]

In [32]:
names[1]

'Dmitry'

In [33]:
numbers[3]

15

In [35]:
"Здравствуйте, " + names[1] + "! Жду вашего ответа."

'Здравствуйте, Dmitry! Жду вашего ответа.'

In [36]:
names.append("Yuriy")

In [37]:
names

['Irina', 'Dmitry', 'Arina', 'Yuriy']

In [38]:
", ".join(names)

'Irina, Dmitry, Arina, Yuriy'

In [40]:
for name in names:
    print("______________")
    print("Здравствуйте, " + name + "! Жду вашего ответа.")

______________
Здравствуйте, Irina! Жду вашего ответа.
______________
Здравствуйте, Dmitry! Жду вашего ответа.
______________
Здравствуйте, Arina! Жду вашего ответа.
______________
Здравствуйте, Yuriy! Жду вашего ответа.

In [44]:
for name in names:
    letter1 = "Здравствуйте, " 
    letter2 = "! Жду вашего ответа."
    print(letter1+name+letter2)
print("End!")

Здравствуйте, Irina! Жду вашего ответа.
Здравствуйте, Dmitry! Жду вашего ответа.
Здравствуйте, Arina! Жду вашего ответа.
Здравствуйте, Yuriy! Жду вашего ответа.
End!

In [45]:
for i in [1, 2, 3]:
    for name in names:
        print(name+str(i))

Irina1
Dmitry1
Arina1
Yuriy1
Irina2
Dmitry2
Arina2
Yuriy2
Irina3
Dmitry3
Arina3
Yuriy3

In [46]:
for i in [1, 2, 3]:
    print("Hello\n")

Hello

Hello

Hello

In [47]:
for i in [1, 2, 3]:
    print("Hello")

Hello
Hello
Hello

In [49]:
print("Hello! \nMy name is Nadia")

Hello!
My name is Nadia

In [50]:
print("Hello! My name is Nadia")

Hello! My name is Nadia

In [52]:
for name in names:
    print("Здравствуйте, " + name + "! Жду вашего ответа.")

Здравствуйте, Irina! Жду вашего ответа.
Здравствуйте, Dmitry! Жду вашего ответа.
Здравствуйте, Arina! Жду вашего ответа.
Здравствуйте, Yuriy! Жду вашего ответа.

In [53]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [55]:
len(names)

4

In [54]:
for i in range(len(names)):
    name = names[i]
    print("Здравствуйте, " + name + "! Жду вашего ответа.")

Здравствуйте, Irina! Жду вашего ответа.
Здравствуйте, Dmitry! Жду вашего ответа.
Здравствуйте, Arina! Жду вашего ответа.
Здравствуйте, Yuriy! Жду вашего ответа.

In [56]:
for i in range(4):
    name = names[i]
    print("Здравствуйте, " + name + "! Жду вашего ответа.")

Здравствуйте, Irina! Жду вашего ответа.
Здравствуйте, Dmitry! Жду вашего ответа.
Здравствуйте, Arina! Жду вашего ответа.
Здравствуйте, Yuriy! Жду вашего ответа.